@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2019-03-11 22:09:26
 * @version $Id$
 */
 p,div,body,p{
	margin:0;
	padding: 0;
 }
 	@media screen and (min-width: 0px) {html{font-size:50px;}}
	@media screen and (min-width: 360px) {html{font-size:56.25px;}}
	@media screen and (min-width: 375px) {html{font-size:58.59375px;}}
	@media screen and (min-width: 400px) {html{font-size:62.5px;}}
	@media screen and (min-width: 414px) {html{font-size:64.6875px;}}
	@media screen and (min-width: 440px) {html{font-size:68.75px;}}
	@media screen and (min-width: 480px) {html{font-size:75px;}}
	@media screen and (min-width: 520px) {html{font-size:81.25px;}}
	@media screen and (min-width: 560px) {html{font-size:87.5px;}}
	@media screen and (min-width: 600px) {html{font-size:93.75px;}}
	@media screen and (min-width: 640px) {html{font-size:100px;}}
	@media screen and (min-width: 680px) {html{font-size:106.25px;}}
	@media screen and (min-width: 720px) {html{font-size:112.5px;}}
	@media screen and (min-width: 760px) {html{font-size:118.75px;}}
	@media screen and (min-width: 800px) {html{font-size:125px;}}
	@media screen and (min-width: 960px) {html{font-size:150px;}}
	.top{
			position: fixed;
			top:0px;
			left: 0px;
			width: 100%;
			background-color: #fff;
			/*z-index: 1;*/
		}
	.navtopmargin{
		margin: 0;
	}
 	.header{
			position: relative;
			height: 0.88rem;
			background-color: #5fc0cd;
		}
	.navtoppadding{
			padding: 0;
		}
	.icon1{
		position: absolute;
		top:0.4rem;
		left: 0.22rem;
		width:0.34rem;
		height: 0.27rem;
		background-image: url("../img/icon1.jpg");
		background-size: 0.34rem 0.27rem;
	}
	.none{
			height:0.88rem;
			width: 100%;
		}
	.content{
		background-color: #f0f0f0;
	}
	.lastplay{
		background-color: #fff;
		margin: 0.32rem 0.35rem 0 0.35rem;
		border: 0.01rem solid #c9c9c9;
		height: 0.83rem;
	}
	.goback{
		
	}