<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Vue</title>
<script src="vue.min.js"></script>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<style type="text/css" media="screen">
	.finished{
		color: red;
	}
</style>
</head>
<body>
	<!-- <div id="app-1">
		<p>{{rawHtml}}</p><br>
	    <p><span v-html="rawHtml"></span></p>
		<input v-model="rawHtml">
	</div> -->
	<!-- <ol>
		<todo-utem></todo-utem>
	</ol> -->
	<!-- <template v-if="loginType === 'username'">
	  <label>Username</label>
	  <input placeholder="Enter your username">
	</template>
	<template v-else>
	  <label>Email</label>
	  <input placeholder="Enter your email address">
	</template> -->
	<!-- <div v-if="type === 'A'">
	  A
	</div>
	<div v-else-if="type === 'B'">
	  B
	</div>
	<div v-else-if="type === 'C'">
	  C
	</div>
	<div v-else>
	  Not A/B/C
	</div> -->
	<h1> this is a todo list</h1>
	<div id="app-1">
	<ul>
		<li v-for="(item,index) in items" v-bind:class="{finished: item.isFinished}" v-on:click="doThis(item)">
			{{index+1}}、{{item.label}}
		</li>
	</ul>
		<input v-model="add" placeholder="edit me" @keyup.enter="onEnter">
	</div>

    <script type="text/javascript">
    	// var app1 = new Vue({
    	// 	el: '#app-1',
    	// 	data:{
    	// 		rawHtml:'<span style="color:red">This should be red</span>'
    	// 	}
    	// })
    	// Vue.component('todo-item',{
    	// 	tempate: '<li>这是个待办项</li>'
    	// })
    	// new Vue({
    	// 	el: 'body',
    	// 	components: { 'todo-item' }
    	// })
    	var list1 = new Vue({
    		el: '#app-1',
    		data:{
    			items:[
    			],
    			add:''
    		},
    		methods:{
    			doThis: function(item){
    				item.isFinished=!item.isFinished;
    			},
    			onEnter:function(){
    				this.items.push({
    					label: this.add,
    					isFinished: false
    				})
    				this.add='';

    			}
    		}
    	})

    </script>
</body>
</html>