<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Vue表单</title>
<script src="vue.min.js"></script>
<meta name="description" content="">
<meta name="keywords" content="">
</head>
<body>
	<!-- <div id="blog-posts-events-demo">
	  <div :style="{ fontSize: postFontSize + 'em' }">
	    <blog-post
	      v-for="post in posts"
	      v-bind:key="post.id"
	      v-bind:post="post"
	      v-on:enlarge-text="postFontSize += $event"
	    ></blog-post>
	  </div>
	</div> -->
	<!-- 方法二 -->
	<div id="blog-posts-events-demo">
	  <div :style="{ fontSize: postFontSize + 'em' }">
	    <blog-post
	      v-for="post in posts"
	      v-bind:key="post.id"
	      v-bind:post="post"
	      v-on:enlarge-text="onEnlargeText"
	    ></blog-post>
	  </div>
	</div>

	<script type="text/javascript">
	Vue.component('blog-post', {
	  props: ['post'],
	  template: `
	    <div class="blog-post">
	      <h3>{{ post.title }}</h3>
	      <button v-on:click="$emit('enlarge-text', 0.1)">
	        Enlarge text
	      </button>
	      <div v-html="post.content"></div>
	    </div>
	  `
	})
	
	// new Vue({
	// 	el: '#blog-posts-events-demo',
	// 	data:{
	// 		posts:[
	// 		{id:1,title:'My journey with Vue'},
	// 		{id:2,title:'Blogging with Vue'},
	// 		{id:3,title:'Why Vue is so fun'}
	// 		],
	// 		postFontSize: 1
	// 	}
	// })
	// 方法二

	new Vue({
		el: '#blog-posts-events-demo',
		data:{
			posts:[
			{id:1,title:'My journey with Vue'},
			{id:2,title:'Blogging with Vue'},
			{id:3,title:'Why Vue is so fun'}
			],
			postFontSize: 1
		},
		methods:{
	  	onEnlargeText:function(enlargeAmount){
	  		this.postFontSize += enlargeAmount
	  	}
	  }
	})
	</script>
</body>
</html>